@use "colors";
@use "component";

body {
  background-color: colors.$slate-50; 
  color:colors.$slate-800;
}

header {
  background-color: colors.$white;
  opacity: 0.9;
  border-bottom-color: colors.$slate-200;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.transition-all-300 {
  transition: all 0.3s ease;
}

.outer-div-1{
  height: 5rem;
}

.outer-div-2{
  color: colors.$white;
 box-shadow: 0 4px 12px rgba(colors.$custom-primary, 0.3);
  background-color:colors.$custom-primary;
}